<?xml version="1.0" ?>
<launch>
  <arg name="machine" default="localhost"/>
  <remap from="/pcl_filters/psz/output" to="/sensor_point_cloud"/>
  <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch" >
    <arg name="fps_limit" value="1" />
    <arg name="publish_tf" value="true"/>
    <arg name="base_name" value="kinect2" /> 
    <arg name="use_nodelet" value="true" />
    <arg name="queue_size" value="5" />
  </include>
  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="-0.08 0.08 0.223 1.57079 -0.78539 0  kinect2_move_frame kinect2_link 100" />

  <group ns="/pcl_filters">
      <!-- PCL Manager -->
      <node pkg="nodelet" type="nodelet" name="box_filter_pcl_manager" args="manager" output="screen"/>

      <!-- Run a passthrough filter to delimit in x direction -->
      <node pkg="nodelet" type="nodelet" name="psx" args="load pcl/PassThrough box_filter_pcl_manager" output="screen">
        <remap from="~input" to="/kinect2/sd/points" />
        <rosparam>
          filter_field_name: x
          filter_limit_min: -0.8
          filter_limit_max: 0.6
        </rosparam>
      </node>

      <!-- Run a passthrough filter to delimit in y direction -->
      <node pkg="nodelet" type="nodelet" name="psy" args="load pcl/PassThrough box_filter_pcl_manager" output="screen">
        <remap from="~input" to="psx/output" />
        <rosparam>
          filter_field_name: y
          filter_limit_min: -0.3
          filter_limit_max: 0.55
        </rosparam>
      </node>

      <!-- Run a passthrough filter to delimit in z direction -->
      <node pkg="nodelet" type="nodelet" name="psz" args="load pcl/PassThrough box_filter_pcl_manager" output="screen">
        <remap from="~input" to="psy/output" />
        <rosparam>
          filter_field_name: z
          filter_limit_min: 0.4
          filter_limit_max: 1.28
        </rosparam>
      </node>
    </group>
</launch>
