<?xml version="1.0" ?>
<robot name="ur10_workspace" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find blending_end_effector)/urdf/blending_eff_macro.xacro"/>
  <xacro:include filename="$(find ur_description)/urdf/ur10.urdf.xacro"/>


  <material name="blue">
    <color rgba="0.015 0.341 0.858 1"/>
  </material>
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>
    <material name="black">
  <color rgba="0.1 0.1 0.1 1"/>
    </material>
  <material name="gray">
    <color rgba="0.8 0.8 0.8 1"/>
  </material>
  <material name="yellow">
    <color rgba="0.9 0.8 0.3 1"/>
  </material>
  <material name="smr-poster">
    <texture filename="package://godel_ur10_support/urdf/textures/smr-poster.png"/>
  </material>

  <material name="wood">
    <texture filename="package://godel_ur10_support/urdf/textures/WoodTexture.jpg"/>
  </material>
  <link name="world_frame"/>

  <link name="tableTop">
          <visual>
              <geometry>
                  <box size="2.0 0.70 0.04"/>
              </geometry>
              <origin xyz="0 0 0.43" rpy="0 0 0" />
              <material name="wood" />
          </visual>
          <collision>
              <geometry>
                  <box size="2.0 0.70 0.86"/>
              </geometry>
              <origin xyz="0 0 0.03" rpy="0 0 0.0" />
          </collision>
    </link>

    <link name="tableBottom">
          <visual>
              <geometry>
                  <box size="1.96 0.66 0.82"/>
              </geometry>
              <origin xyz="0 0 0" rpy="0 0 0" />
              <material name="blue" />
          </visual>
    </link>

    <link name="robotbase">
          <visual>
              <geometry>
                  <box size="0.18 0.25 0.02"/>
              </geometry>
              <origin xyz="0 0 0" rpy="0 0 0" />
              <material name="gray" />
          </visual>
    </link>
    <link name="toolstation">
          <collision>
              <geometry>
                  <box size="1.0 0.10 2.0"/>
              </geometry>
              <origin xyz="0.0 0.0 0.0" rpy="0 0 0.0" />
          </collision>
    </link>

  <link name="back_wall">
        <visual>
            <geometry>
                <box size="4.0 0.10 3.0"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <material name="gray" />
        </visual>

        <collision>
            <geometry>
                <box size="4.0 0.10 3.0"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
        </collision>
  </link>

  <link name="side_wall">
        <visual>
            <geometry>
                <box size="0.10 1.0 3.0"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <material name="gray" />
        </visual>

        <collision>
            <geometry>
                <box size="0.1 1.0 3.0"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
        </collision>
  </link>
  <link name="smr-poster">
          <visual>
              <geometry>
                  <box size="1.5 1.059 0.0"/>
              </geometry>
               <origin xyz="0 0 0" rpy="0 0 0" />
              <material name="smr-poster" />
          </visual>
  </link>

  <!-- instantiating arm  --> 
  <xacro:ur10_robot prefix="" joint_limited="false"/>
  <!-- instantiating end effector  -->
  <xacro:blending_eff_definition prefix=""/>

  <!-- Attach the end effector to the end of the robot arm (tool0) -->
  <joint name="link_t_to_eff" type="fixed">
    <parent link="tool0"/>
    <child link="eff_frame"/>
    <origin xyz="0 0 0" rpy="0 0 ${half_pi}"/>
  </joint>

  <!-- start of arm-workcell joint definitions -->
  <joint name="world_to_base" type="fixed">
    <parent link="world_frame"/>
    <child link="base_link"/>
    <origin xyz="0.91 0 0.880" rpy="0 0 0"/>
  </joint>

    <joint name="world_to_tableBottom" type="fixed">
            <parent link="world_frame" />
            <child link ="tableBottom" />
            <origin xyz="0.0 -0.0 0.41" rpy="0 0 0" />
    </joint>

    <joint name="world_to_tableTop" type="fixed">
            <parent link="world_frame" />
            <child link ="tableTop" />
            <origin xyz="0.0 0.0 0.41" rpy="0 0 0" />
    </joint>

    <joint name="world_to_robotbase" type="fixed">
            <parent link="world_frame" />
            <child link ="robotbase" />
            <origin xyz="0.91 0 0.87" rpy="0 0 0" />
    </joint>

  <joint name="world_to_toolstation" type="fixed">
          <parent link="world_frame" />
          <child link ="toolstation" />
          <origin xyz="0.5 -1.0 1.0" rpy="0 0 0" />
  </joint>
  <joint name="world_to_back_wall" type="fixed">
          <parent link="world_frame" />
          <child link ="back_wall" />
          <origin xyz="0.0 0.40 1.5" rpy="0 0 0" />
  </joint>
  <joint name="world_to_side_wall" type="fixed">
          <parent link="world_frame" />
          <child link ="side_wall" />
          <origin xyz="1.70 -0.15 1.5" rpy="0 0 0" />
  </joint>
  <joint name="world_to_smr-poster" type="fixed">
          <parent link="back_wall" />
          <child link ="smr-poster" />
          <origin xyz="0 -0.055 0.30" rpy="0 -1.57 1.57" />
  </joint>

</robot>
